.card-wrapper{
    border-radius: 3px;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    margin: 5px 0;
}

button {
    background: transparent;
    border: 0
}

.card-detail-wrapper{
    background: white;
    padding: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.flexLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}